<% layout('layout/boilerplate') %>
    <main>
        <section class="contactHeader mb-3">
            <div class="container-fluid h-100">
                <div class="row aboutImg h-100">
                    <!-- <div class="col"></div> -->
                    <div class="col h-100 d-flex justify-content-center align-items-center">
                        <h1>CONTACT US</h1>
                    </div>
                    <!-- <div class="col"></div> -->
                </div>
            </div>
        </section>
        <section class="contactContent mt-5">
            <div class="container">
                <div class="row text-center">
                    <h5>Have any question?</h5>
                    <h2 class="mb-5">We're <span class="lineUnder">here</span> to help</h2>
                    <div class="col-12 col-lg-3">
                        <div class="card m-2">
                            <div class="card-body">
                                <h5 class="card-title">Sales</h5>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit
                                </p>
                                <span class="contactSpan">
                                    1800 238 239
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="card m-2">
                            <div class="card-body">
                                <h5 class="card-title">Complaints</h5>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit
                                </p>
                                <span class="contactSpan">
                                    3922 847 172
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="card m-2">
                            <div class="card-body">
                                <h5 class="card-title">Returns</h5>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit
                                </p>
                                <span class="contactSpan">
                                    return@mail.com
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="card m-2">
                            <div class="card-body">
                                <h5 class="card-title">Marketing</h5>
                                <p>
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit
                                </p>
                                <span class="contactSpan">
                                    1200 432 938
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 p-5 d-flex justify-content-center flex-column">
                        <h6>Don't be stranger</h6>
                        <h1>You tell us, We listen</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur placeat esse enim quis
                            magnam error voluptatem totam, dolorum accusamus. Dicta aliquid corrupti consequatur. Labore
                            cumque itaque similique accusantium, delectus in?</p>
                    </div>
                    <div class="col-12 col-lg-6 my-5">
                        <form class="bg-white p-5">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="Name" placeholder="Mark" required>
                                <label for="Name">Name</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="Subject" placeholder="Subject">
                                <label for="Subject">Subject</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput"
                                    placeholder="example@mail.com" required>
                                <label for="floatingInput">Email address</label>
                            </div>
                            <div class="mb-3 form-check p-0">
                                <label class="form-check-label" for="Message">Message</label>
                                <textarea name="Message" id="Message" cols="30" rows="10" required></textarea>
                            </div>
                            <button type="submit" class="contactBtn">SEND MESSAGE</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>